$color-first: #5d745d;
$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106D;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #17A2B8;

$body-font: "Open Sans", sans-serif;
$header-font: "lobster", cursive;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header { 
    h2 {
          color: $color-pale;
    }
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    text-align: center;
}

.footer-contact {
    text-align: center;
}

.tab-content {
    padding: 10px;
    border: 1px solid #DDD;
    border-top: none;
}

.navbar {
    background-color: $color-mid;
}

#nucampNavbar .navbar-text {
    margin-left: auto;
}

.carousel {
    border: solid $color-secondary;
}

.carousel-caption {
    background-color: $color-black-transparent;
}

/*import the patial 'modal scss' file to the style*/
@import 'modal';

/*import the patial 'review-section scss' file to the style*/
@import 'review-section';
